@model string
           
@if (TempData.ContainsKey(Model))
{
    <div class="@Model @Model-block">
          <a class="close" data-dismiss="alert" href="#">×</a>
                @TempData[Model]
        </div>
  }
