@model IEnumerable<SupportSasha.Donations.Models.Donation>
@section Navigation {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/Admin">Home</a></li>
            <li class="active"><a href="/Admin/Targets">Targets</a></li>
            <li><a href="/Admin/Donations">Donations</a></li>
            <li><a href="/Account/sign-out">Sign out</a></li>
        </ul>
    </div>
}
@section SideNav {
    <ul class="nav nav-tabs nav-stacked">
  <li>@Html.ActionLink("List", "Index")</li>
  <li>@Html.ActionLink("Create", "Create")</li>
</ul>
}


<h1>
    Donations</h1>

<ul class="donationList">
@Html.DisplayForModel()
</ul>
