h1, h2, h3, h4 
{
    font-family: Sasha, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin-bottom: 15px;
}

.sashasFont
{ 
    font-family: Sasha, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left-sidebar h1
{
    text-align: center;
}

.hero-unit 
{
    position: relative;
    padding-right: 230px;
}

.hero-unit img 
{
    position: absolute;
    right: 15px;
    top: 15px;   
}

.progressWrapper h2  
{
    margin-bottom: 15px;
}

.progressWrapper .progress 
{
    height: 42px;
}

.progressWrapper .bar
{ 
    height: 40px;
}

.progressWrapper .targetBreakdown 
{
    float: right;
}

.donationList 
{
    list-style: none;
    padding: 0;
    width: 620px;
    margin-left: 0;
}

    .donationList .confirmedDonation strong 
    {
        color: Green;
    }
    
    .donationList form  
    {
        display: inline-block;
        position: absolute; 
        right: 25px;
        bottom: 10px;
    }

    .donationList li 
    {
        margin-bottom: 10px;
        position: relative;
        min-height: 60px;
        margin-bottom: 10px;
        padding: 10px;
        
    }
    
    .donationList li 
    {
        -moz-border-radius: 25px 10px / 10px 25px;
        border-radius: 25px 10px / 10px 25px;
        background-color: #CCC;
    }
    
    .donationList li img 
    {
        position: absolute;
        left: 15px;
        top: 15px;
    }
    
    .donationList li p 
    {
        padding-bottom: 5px;
    }
    
    .donationList .donationDate 
    {
        display: block;
        padding: 3px 0 10px 0;
        margin: 0;
        font-size: 90%;
        font-weight: bold;
    }
    
    .donationList li .donationMessage strong
    {
        font-size: 120%;   
        padding-bottom: 10px;     
    }
    
    .donationList li .donationMessage 
    {
        margin-left: 70px;
        margin-top: 5px;
        display: block;
        width: 500px;
    }
    
    .donationList li .donationAmount 
    {
        font-weight: bold;
        position: absolute;
        right: 25px;
        top: 30px;
        font-size: 250%;
    }

.validation-summary-errors span 
{
    display: block;
    font-weight: bold;
    margin-bottom: 10px;
    font-size: 110%;
}