h1, h2, h3, h4 
{
    font-family: Sasha, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.sashasFont
{ 
    font-family: Sasha, "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.left-sidebar h1
{
    text-align: center;
}

.hero-unit 
{
    position: relative;
    padding-right: 230px;
}

.hero-unit img 
{
    position: absolute;
    right: 15px;
    top: 15px;   
}

.progressWrapper h2  
{
    margin-bottom: 15px;
}

.progressWrapper .progress 
{
    height: 42px;
}

.progressWrapper .bar
{ 
    height: 40px;
}

.progressWrapper .targetBreakdown 
{
    float: right;
}