@model SupportSasha.Donations.Models.Target

@{
    ViewBag.Title = "Create";
}

@section Navigation {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/Admin">Home</a></li>
            <li class="active"><a href="/Admin/Targets">Targets</a></li>
            <li><a href="/Admin/Donations">Donations</a></li>
            <li><a href="/Account/sign-out">Sign out</a></li>
        </ul>
    </div>
}


<h2>Create</h2>

@using (var form = Html.BeginForm())
{
    <div>
    @Html.LabelFor(x => x.Amount)
    @Html.TextBoxFor(x => x.Amount)
    </div>
    
    <div>
    @Html.LabelFor(x => x.Description)
    @Html.TextBoxFor(x => x.Description, new { rows = "20", columns = "10" })
    </div>
    
    <button>Create</button>
}
