@model SupportSasha.Donations.Models.Target

@{
    ViewBag.Title = "Details";
}

@section Navigation {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/Admin">Home</a></li>
            <li class="active"><a href="/Admin/Targets">Targets</a></li>
            <li><a href="/Admin/Donations">Donations</a></li>
            <li><a href="/Account/sign-out">Sign out</a></li>
        </ul>
    </div>
}


<h2>Details</h2>

<div>Id: @Model.Id</div>
<div>Amount: @Model.Amount</div>
<div>Description</div>
@Model.Description
