@model IEnumerable<SupportSasha.Donations.Models.Target>

@{
    ViewBag.Title = "Index";
}

@section Navigation {
    <div class="nav-collapse">
        <ul class="nav">
            <li><a href="/Admin">Home</a></li>
            <li class="active"><a href="/Admin/Targets">Targets</a></li>
            <li><a href="/Admin/Donations">Donations</a></li>
            <li><a href="/Account/sign-out">Sign out</a></li>
        </ul>
    </div>
}


<h2>Donation Targets</h2>

@foreach (var target in Model)
{
    <div class="target">
    <span>@target.Amount</span>
    @target.Description
    </div>
    
    using (Html.BeginForm("Delete", "Targets"))
    {
         @Html.Hidden("Id", target.Id);
         <button onclick="return confirm('Are you sure');">Delete</button>                                      
    }
}

@Html.ActionLink("Add target", "Create")