@{
    ViewBag.Title = "Index";
   
}
@section Navigation {
    <div class="nav-collapse">
        <ul class="nav">
            <li class="active"><a href="/Admin">Home</a></li>
            <li><a href="/Admin/Targets">Targets</a></li>
            <li><a href="/Admin/Donations">Donations</a></li>
            <li><a href="/Account/sign-out">Sign out</a></li>
        </ul>
    </div>
}
<h2>
    Admin section</h2>
