@model SupportSasha.Donations.Models.HomeViewModel
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="hero-unit home-hero">
    <h1>
        Welcome</h1>
    <img src="@Url.Image("SashaOnSwing.jpg")" />
    <p>
        I'm Sasha and I have cerebral palsy. Thank you for visiting my donations website.
        I have started a therapy called Advanced Biomechanical Rehabilitation and I go to Belgium four times a year for my progress to be monitored. I currently have a powered wheelchair called a Wizzy Bug, but I will grow out of it within the next year so I will need to trade it in for a larger model! I would love to fundraise enough money to continue with my ABR trips and to get myself some cool wheels.</p>
    <p>
        @Html.ActionLink("Donate", "Index", "Donations", null, new { @class = "btn btn-primary btn-large" })
        &nbsp;&nbsp; or&nbsp;&nbsp; @Html.ActionLink("Learn more", "Targets", "Donations", null, new { @class = "btn" })</p>
</div>