@{
    ViewBag.Title = "Swim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="swim">
    <h2>
        Sponsored swim</h2>
    <div class="swimmers clearfix">
        <div class="leftSwimmer swimmer">
            <div class="swimmerName">
                Luke Sampson</div>
            <img src="../../Content/Images/200x200.gif" alt="Luke" />
            <div class="swimmerInfo">
                @Html.ActionLink("Sponsor me", "Index", "Donations", new { campaign = "Swim", swimmer = "Luke" }, new { @class = "donate" })
            </div>
        </div>
        <div class="swimInfo">
        <p>
        Both of us are going to do 1000 lengths each which is 3.7 miles. Help us support sasha by buying one or several swim lengths.
        </p>
        </div>
        <div class="rightSwimmer swimmer">
            <div class="swimmerName">
                Ruth</div>
            <img src="../../Content/Images/200x200.gif" alt="Right Swimmer" />
            <div class="swimmerInfo">
            @Html.ActionLink("Sponsor me", "Index", "Donations", new { campaign = "Swim", swimmer = "Ruth" }, new { @class = "donate" })
            </div>
        </div>
    </div>
    <div class="swimmerProgress">
        <div class="swimmerProgressInfo">Fundraising progress</div>
        

        <div class="meter blue nostripes">
            <small class="swimmerProgressStart">0</small>
            <span style="width: 33.3%"></span>
            <small class="swimmerProgressEnd">1000</small>
        </div>
    </div>
    
    
</div>
