@{
    ViewBag.Title = "Swim";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="swim">
    <h2>
        Sponsored swim</h2>
    <div class="swimmers clearfix">
        <div class="leftSwimmer swimmer">
            <div class="swimmerName">
                Luke Sampson</div>
            <img src="../../Content/Images/200x200.gif" alt="Luke" />
            <div class="swimmerInfo">
                <div class="donate">
                <button class="donate">Sponsor me!</button>
    </div>
                </div>
        </div>
        <div class="rightSwimmer swimmer">
            <div class="swimmerName">
                Martin Georgiev</div>
            <img src="../../Content/Images/200x200.gif" alt="Right Swimmer" />
            <div class="swimmerInfo">
            <div class="donate"><button class="donate">Sponsor me!</button></div>
                </div>
        </div>
    </div>
    <div class="swimmerProgress">
        <div class="swimmerProgressInfo">Luke's progress</div>
        

        <div class="meter blue nostripes">
            <small class="swimmerProgressStart">0</small>
            <span style="width: 33.3%"></span>
            <small class="swimmerProgressEnd">1000</small>
        </div>
    </div>
    
    
</div>
